name: CI

on:
  push:
    branches:
      - "main"
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18.x

      - name: Cache node_modules
        id: cache-node_modules
        uses: actions/cache@v3
        with:
          path: node_modules
          key: node_modules-${{ hashFiles('package.json', 'package-lock.json') }}

      - name: npm ci
        if: steps.cache-node_modules.outputs.cache-hit != 'true'
        run: npm ci

      - name: CI PTY
        run: echo | node run-pty.js --auto-exit=1 % sleep 2 % sleep 1

      - name: tsc
        run: npx tsc

      - name: ESLint
        run: npx eslint . --report-unused-disable-directives

      - name: Prettier
        run: npx prettier --check .

      - name: Jest
        run: npx jest
