name: Smoke test

on:
  push:
    branches:
      - "main"
  pull_request:

jobs:
  smoke:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os:
          [
            ubuntu-20.04,
            ubuntu-latest,
            ubuntu-24.04-arm,
            macOS-latest,
            macos-15-intel,
            windows-latest,
          ]
        node-version: [22, 24]

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}

      - id: cache-node_modules
        uses: actions/cache@v4
        with:
          path: node_modules
          key: node_modules-${{ matrix.os }}-${{ matrix.node-version }}-${{ hashFiles('package.json', 'package-lock.json') }}

      - if: steps.cache-node_modules.outputs.cache-hit != 'true'
        run: npm ci --no-audit

      - run: node --run auto-exit
